.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}


/* :root {
    --primary: #15803D;
    --secondery-bg: #CFF0DC;
    --secondery-btn-color: #FACC15;
    --dark: #1F2937;
} */
